/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #d9534f;
}
.em-color span.emColorStyle02 {
  background: #9db643;
}
.em-color span.emColorStyle03 {
  background: #4ec8ca;
}
.em-color span.emColorStyle04 {
  background: #dd9cd5;
}
