<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<EM_Em0141settings>
			<version>0.1.0</version>
		</EM_Em0141settings>
	</modules>
	<adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<em0141>
											<title>EM0141 Glory Settings Module</title>
										</em0141>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0141settings>
					<file>em0141settings.xml</file>
				</em0141settings>
			</updates>
		</layout>
		<menu>
			<emthemes translate="title">
				<title>EMThemes</title>
				<sort_order>72</sort_order>
				<children>
                    <emthemes_manager>
                        <title>EM Themes Manager</title>
						<sort_order>10</sort_order>
                        <children>
                            <em0141_setting module="em0141settings" translate="title">
                                <identifier>em0141</identifier>
        						<title>EM0141 Glory Settings</title>
                                <desciption>Flexible Theme</desciption>
        						<sort_order>10</sort_order>
        						<action>adminhtml/themeframework_theme/index/theme/em0141</action>
        					</em0141_setting>
                        </children>						
                    </emthemes_manager>
					
					<help module="em0141settings" translate="title">
						<title>Help &amp; Support</title>
						<sort_order>130</sort_order>
						<children>
							<em0141_userguide module="em0141settings" translate="title">
								<title>EM0141 Glory User Guide</title>
								<sort_order>10</sort_order>
								<action>adminhtml/em0141settings_link/userguide/</action>
							</em0141_userguide>
						</children>
					</help>
				</children>
			</emthemes>
		</menu>
	</adminhtml>
	<frontend>
		<routers>
			<em0141settings>
				<use>standard</use>
				<args>
					<module>EM_Em0141settings</module>
					<frontName>em0141settings</frontName>
				</args>
			</em0141settings>
		</routers>
		<layout>
			<updates>
				<em0141settings>
					<file>em0141settings.xml</file>
				</em0141settings>
			</updates>
		</layout>
		<events>
			<controller_action_layout_generate_blocks_before>
				<observers>
					<em0141_config_after_save>
						<class>EM_Em0141settings_Model_Observer</class>
						<method>beforeGenerateBlocks</method>
					</em0141_config_after_save>
				</observers>
			</controller_action_layout_generate_blocks_before>
			<catalog_product_collection_load_before>
				<observers>
					<em0141settings>
						<class>EM_Em0141settings_Model_Observer</class>
						<method>beforeCatalogProductCollectionLoad</method>
					</em0141settings>
				</observers>
			</catalog_product_collection_load_before>
		</events>
	</frontend>
	<admin>
		<routers>
			<adminhtml>
				<args>
					<modules>
						<em0141settings before="Mage_Adminhtml">EM_Em0141settings_Adminhtml</em0141settings>
					</modules>
				</args>
			</adminhtml>
		</routers>
	</admin>
	<adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Glory</title>
				</all>
				<admin>
					<children>
						<EM_Em0141settings>
							<title>em0141settings Module</title>
							<sort_order>10</sort_order>
						</EM_Em0141settings>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<em0141settings>
					<file>em0141settings.xml</file>
				</em0141settings>
			</updates>
		</layout>
		<events>
			<themeframework_edit_theme_em0141>
				<observers>
					<add_head_layout>
						<class>EM_Em0141settings_Model_Observer</class>
						<method>addItemEvent</method>
					</add_head_layout>
				</observers>
			</themeframework_edit_theme_em0141>
		</events>
	</adminhtml>
	<global>
		<models>
			<em0141settings>
				<class>EM_Em0141settings_Model</class>
				<resourceModel>em0141settings_mysql4</resourceModel>
			</em0141settings>
			<em0141settings_mysql4>
				<class>EM_Em0141settings_Model_Mysql4</class>
				<entities>
					<em0141settings>
						<table>em0141settings</table>
					</em0141settings>					
				</entities>
			</em0141settings_mysql4>
		</models>
		<resources>
			<em0141settings_setup>
				<setup>
					<module>EM_Em0141settings</module>
					<class>Mage_Eav_Model_Entity_Setup</class>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</em0141settings_setup>
			<em0141settings_write>
				<connection>
					<use>core_write</use>
				</connection>
			</em0141settings_write>
			<em0141settings_read>
				<connection>
					<use>core_read</use>
				</connection>
			</em0141settings_read>
		</resources>
		<blocks>
			<em0141settings>
				<class>EM_Em0141settings_Block</class>
			</em0141settings>
		</blocks>
		<helpers>
			<em0141settings>
				<class>EM_Em0141settings_Helper</class>
			</em0141settings>
		</helpers>
	</global>
	<default>
		<em0141>
			<sidebar>
				<list>catalog_search_layer,catalog_leftnav,catalog_shopby,catalog_related,compare,poll,popular_tags,wishlist_sidebar,reorder_sidebar</list>
				<block_data>
					<catalog_search_layer>
						<type>layerednavigation/search_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalogsearch_result_index</handles>
					</catalog_search_layer>
					<catalog_leftnav>
						<type>catalog/navigation</type>
						<name>catalog.leftnav</name>
						<template>catalog/navigation/left.phtml</template>
						<before>-</before>
						<handles>catalog_category_default</handles>
					</catalog_leftnav>
					<catalog_shopby>
						<type>layerednavigation/catalog_layer</type>
						<name>em.catalog.leftnav.custom</name>
						<template>em_layerednavigation/view.phtml</template>
						<before>-</before>
						<handles>catalog_category_layered</handles>
					</catalog_shopby>
					<catalog_related>
						<type>catalog/product_list_related</type>
						<name>catalog.product.related</name>
						<template>catalog/product/list/related.phtml</template>
						<before>-</before>
						<handles>catalog_product_view</handles>
					</catalog_related>
					<compare>
						<type>catalog/product_compare_sidebar</type>
						<name>em.catalog.compare.sidebar</name>
						<template>catalog/product/compare/sidebar.phtml</template>
					</compare>
					<poll>
						<type>poll/activePoll</type>
						<name>em.poll_sidebar</name>
						<action>method:setPollTemplate?template:poll/active.phtml,type:poll|method:setPollTemplate?template:poll/result.phtml,type:results</action>
						<after>em.catalog.compare.sidebar</after>
					</poll>
					<popular_tags>
						<type>tag/popular</type>
						<name>em.tags_popular</name>
						<template>tag/popular.phtml</template>
						<after>em.poll_sidebar</after>
					</popular_tags>
					<wishlist_sidebar>
						<type>wishlist/customer_sidebar</type>
						<name>em.wishlist_sidebar</name>
						<as>wishlist</as>
						<template>wishlist/sidebar.phtml</template>
						<after>em.tags_popular</after>
					</wishlist_sidebar>
					<reorder_sidebar>
						<type>sales/reorder_sidebar</type>
						<name>em.sale.reorder.sidebar</name>
						<as>reorder</as>
						<template>sales/reorder/sidebar.phtml</template>
						<handles>customer_account,customer_logged_in</handles>
					</reorder_sidebar>
				</block_data>
			</sidebar>
		</em0141>
	</default>
</config>