/* ============================================ *
 * Link
 * ============================================ */
@mixin text-link(){
	display:inline;
    float:left;
    ul{
        margin:0;
        display:inline;
        li{
            margin:0 0px 10px;
			padding:0 10px;
			float:left;
			position:relative;
			display:inline;
            a{
                @include transition1;
            }
			
        }
    }	
}
@mixin line-link(){
	ul li{
		&:before{
			border-right:1px solid #e8e8e8;
			content:"";
			width:1px;
			height:12px;
			position:absolute;
			top:3px;
		}
	}
}
@mixin link-left(){
    ul{
        li{
            margin:0 10px 10px 0;
			padding:0 10px 0 0;
			float:left;
			position:relative;
			display:inline;
			&:before{
				right:0;
			}
			&.last{
				margin-right:0;
				padding-right:0;
				&:before{
					border-right:0;
				}
			}
        }
    }	
}

@mixin link-right{
	float:right;
	ul{
		float:right;
		li{
			margin:7px 0 10px 10px;
			padding:0 0 0 10px;
			float:left;
			&:before{
				left:0;
			}
			&.first{
				margin-left:0;
				padding-left:0;
				&:before{
					border-right:0;
				}
			}
		}
	}
}
@mixin link-center{
	float:none;
	ul{
		float:none;
		width:100%;
		text-align:center;
		display:inline-block;
		li{
			margin:7px 0;
			padding:0 10px;
			float:none;
			display:inline-block;
			&:before{
				left:0;
			}
			&:first-child,
			&.first{
				margin-left:0;
				padding-left:0;
				&:before{
					border-right:0;
				}
			}
			&.last{
				margin-right:0;
				padding-right:0;
			}
		}
	}
}
@mixin link-vertical(){
	ul{
		li{
			float:left;
			width:100%;
			clear:both;
			> a{
				width:100%;
				float:left;
			}
		}
	}
}
@mixin icon-link(){
	ul{
		li{
			> a{
				&:before{
					@include font-awesome(\f101,12px);
					margin-right:5px;
				}
			}
		}
	}
}

@mixin effect-link(){
    ul{
		display:inline-block;
		margin:0 0 10px;
        li{
            margin:8px 0;
            padding:0;
            a{
				margin:0;
                padding:0 10px;
                @include transition1;
                &:hover{
                    margin:-8px 0;
                    padding:8px 10px;
					background:#000;
					color:#fff;
                    }
            }
        }
    }
}
@mixin effect-link01(){
	ul{
		li{
			a{@include transition1();}
			&:hover{
				a{
					margin-left:5px;
				}
			}
		}
	}
}
