@media (min-width: 768px) and (max-width: 991px){
	.em-wrapper-area02 .em-box-bkg{ padding-top: 2rem!important;}
	.em-wrapper-area02	h1,.em-wrapper-area02 h2,.em-wrapper-area02 h3{
		font-size:130%!important;
		font-weight:500!important;
		margin-bottom: 1rem!important;
	}
	.em-wrapper-area02	h4,.em-wrapper-area02 h5,.em-wrapper-area02 h6,.em-wrapper-area02 span,.em-wrapper-area02 p{
		font-size:100%!important;
		font-weight:500!important;
		line-height:1.35!important;
		margin-bottom:1rem;
	}
}
@media (max-width: 767px){
	.em-line-01.text-center .widget-title h3 span{
		font-size:83%;
	}
	.em-new-slider .widget{ position:relative;}
}