						<tr>
							<td align="center">
								<table class="responsive-table" width="600" border="0" cellspacing="0" cellpadding="0">
									<tr align="center">
										<td bgcolor="#ffffff" height="112px"></td>
									</tr>
								</table>
							</td>
						</tr>
						
						<tr>
							<td align="center">
								<table class="responsive-table" width="600" border="0" cellspacing="0" cellpadding="0">
									<tr align="center">
										<td>
											<img class="responsive-img" src="{{skin url='images/email'}}/B.jpg" width="100%" style="display: block">
										</td>
									</tr>
								</table>
							</td>
						</tr>
									
						<tr>
							<td align="center">
								<table class="responsive-table" width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#4dc6ff">
									<tr align="center">
										<td class="hide">
											<table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#4dc6ff">
												<tr>
													<td align="right"><a href="http://fontvellaencasa.com/" target="_blank"><img class="responsive-img" src="{{skin url='images/email'}}/C.jpg" width="139px" style="display: block"></a></td>
													<td width="295px" bgcolor="#4dc6ff" align="center">
														<font class="footer" face="Asap, Arial, sans-serif" color="#ffffff" style="display:block;font-size:12px;text-align:left;line-height:18px; font-weight:400; margin-left: 25px">Calle Buenos Aires 21, 08029 Barcelona<br> 
															<a href="mailto:fontvellaencasa@danone.com" target="_top" style="text-decoration: none; color: #ffffff; font-weight: 700">fontvellaencasa@danone.com</a><br> 
															T.  618 17 20 33
														</font>
													</td>
													<td width="167px" bgcolor="#4dc6ff" align="center">
													<font class="footer" face="Asap, Arial, sans-serif" color="#ffffff" style="display:block;font-size:12px;text-align:left;line-height:18px; font-weight:400;"><a href="{{store url=''}}aviso-legal" target="_blank" style="text-decoration: none; color: #ffffff; font-weight: 700">Aviso Legal</a><br><a href="{{store url=''}}condiciones-de-contratacion" target="_blank" style="text-decoration: none; color: #ffffff; font-weight: 700">Condiciones de Contratación</a><br>
														<a href="{{store url=''}}privacidad-y-cookies" target="_blank" style="text-decoration: none; color: #ffffff; font-weight: 700">Privacidad y Cookies</a>
													</font>
													</td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
								
								<table class="responsive-table" width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#4dc6ff">
									<tr align="center">
										<td class="showinresponsive">
											<table>
												<tr>
													<td align="center"><a href="http://fontvellaencasa.com/" target="_blank"><img src="{{skin url='images/email'}}/C.jpg" width="100%" style="display: block"></a></td>
												</tr>
											</table>
										</td>
										
										<td class="showinresponsive" bgcolor="#4dc6ff" height="20px"></td>
										
										<td class="showinresponsive">
											<table>
												<tr>
													<td bgcolor="#4dc6ff" align="left" width="20px"></td>
													<td bgcolor="#4dc6ff" align="center">
													<font class="footer" face="Asap, Arial, sans-serif" color="#ffffff" style="display:block;font-size:12px;text-align:center;line-height:18px; font-weight:400;">Calle Buenos Aires 21, 08029 Barcelona<br> 
														<a href="mailto:fontvellaencasa@danone.com" target="_top" style="text-decoration: none; color: #ffffff; font-weight: 700">fontvellaencasa@danone.com</a><br> 
														T. 618 17 20 33
													</font>
													</td>
													<td bgcolor="#4dc6ff" align="right" width="20px"></td>
												</tr>
											</table>
										</td>
										
										<td class="showinresponsive" bgcolor="#4dc6ff" height="20px"></td>

										<td class="showinresponsive">
											<table>
												<tr>
													<td bgcolor="#4dc6ff" align="left" width="20px"></td>
													<td bgcolor="#4dc6ff" align="center">
													<font class="footer" face="Asap, Arial, sans-serif" color="#ffffff" style="display:block;font-size:12px;text-align:center;line-height:18px; font-weight:400;"><a href="{{store url=''}}aviso-legal" target="_blank" style="text-decoration: none; color: #ffffff; font-weight: 700">Aviso Legal</a><br><a href="{{store url=''}}condiciones-de-contratacion" target="_blank" style="text-decoration: none; color: #ffffff; font-weight: 700">Condiciones de Contratación</a><br>
														<a href="{{store url=''}}privacidad-y-cookies" target="_blank" style="text-decoration: none; color: #ffffff; font-weight: 700">Privacidad y Cookies</a>
													</font>
													</td>
													<td bgcolor="#4dc6ff" align="right" width="20px"></td>
												</tr>
											</table>
										</td>
									</tr>
								</table>
							</td>
						</tr>
						
						<tr>
							<td align="center" class="hide">
								<table class="responsive-table" width="600" border="0" cellspacing="0" cellpadding="0">
									<tr align="center">
										<td bgcolor="#4dc6ff" height="60px"></td>
									</tr>
								</table>
							</td>
						</tr>
						
						<tr>
							<td align="center" class="showinresponsive">
								<table class="responsive-table" width="600" border="0" cellspacing="0" cellpadding="0">
									<tr align="center">
										<td bgcolor="#4dc6ff" height="20px"></td>
									</tr>
								</table>
							</td>
						</tr>				
										
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>