<?xml version="1.0"?>
<config>
    <modules>
        <EM_Minifilterproducts>
            <version>1.1.0</version>
        </EM_Minifilterproducts>
    </modules>
    <global>
        <models>
            <minifilterproducts>
                <class>EM_Minifilterproducts_Model</class>
            </minifilterproducts>
        </models>
        <resources>
            <minifilterproducts_setup>
                <setup>
                    <module>EM_Minifilterproducts</module>
					<class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </minifilterproducts_setup>
        </resources>
        <blocks>
            <minifilterproducts>
                <class>EM_Minifilterproducts_Block</class>
            </minifilterproducts>
        </blocks>
        <helpers>
            <minifilterproducts>
                <class>EM_Minifilterproducts_Helper</class>
            </minifilterproducts>
        </helpers>
    </global>
	<frontend>
        <routers>
            <minifilterproducts>
                <use>standard</use>
                <args>
                    <module>EM_Minifilterproducts</module>
                    <frontName>minifilterproducts</frontName>
                </args>
            </minifilterproducts>
        </routers>
		<events>
			<sales_order_save_after>
                <observers>
                    <checkout_type_onepage_save_order_after>
                        <class>minifilterproducts/observer</class>
                        <method>cleanBestSellerCache</method>
                    </checkout_type_onepage_save_order_after>
                </observers>
            </sales_order_save_after>
		</events>
        <layout>
            <updates>
                <em_minifilterproducts>
                    <file>em_minifilterproducts.xml</file>
                </em_minifilterproducts>
            </updates>
        </layout>
	</frontend>
	<adminhtml>
		<events>
			<order_cancel_after>
                <observers>
                    <clean_bestseller_cache_after_cancel>
                        <class>minifilterproducts/observer</class>
                        <method>cleanBestSellerCache</method>
                    </clean_bestseller_cache_after_cancel>
                </observers>
            </order_cancel_after>
		</events>
	</adminhtml>
</config>