.em-header-style13{
	.welcome-msg,
	.link-account,
	.em-register-link,
	.em-links-wishlist a,
	.top-link-deal{
		margin-left:$padding3x;
		margin-bottom:0;
		padding:$padding3x / 2 0;
		display:inline-block;
	}
	.em-language-currency{
		 .toolbar-switch{
			span.current{
				padding:$padding3x / 2;
			}
		}
	}
	.em-logo .logo{
		margin:$padding3x 0;
	}
	.em-social{
		margin-top: 40px;
		.em-social-icon{
			margin-right:0;
			margin-left:15px;
		}
	}
	.em-header-bottom{
		border-top-width: 1px;
		border-top-style: solid;
		.em_nav{	
			padding-right:50px;
			.hnav .menu-item-depth-0,
			.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
				margin-right: -1px;
				margin-top: -1px;
				> a{					
					span{
						padding:15px;
						border-width:1px;
						border-top-width: 0px;
					}
				}
			}
		}
		.em-wrapper-searchcart{
			@include position_style(absolute, right, 10px, top, 14px);
		}
		.em-top-cart{	
			.em-amount-topcart{
				span{
					@include hideText();
				}
				&:after{
					@include font-awesome(\f07a,2rem);
					-moz-transform: rotate(0deg);
					-webkit-transform: rotate(0deg);
					-o-transform: rotate(0deg);
					transform: rotate(0deg);
				}
			}
		}
	}
}
