.em-header-style01{
	.em-header-top{ @include box-shadow(0 0 4px #cdcdcd)}
	.em-header-middle{
		padding:$padding1x 0;
	}
	.em-logo .logo{
		margin:$padding2x 0;
	}
	.em-menu-hoz{
		margin:$padding2x 0;
	}	
	.em-header-bottom{ padding:$padding1x 0;}

	
	.link-account,.em-logout-link{
		position:relative;
		&:before{
			@include font-awesome(\f13e,100%);
			margin-right:10px;			
		}
	}
	.em-register-link,.em-account-link{
		position:relative;
		&:before{
			@include font-awesome(\f084,100%);
			margin-right:10px;			
		}
	}
	.em-links-wishlist a{
		position:relative;
		&:before{
			@include font-awesome(\f004,100%);
			margin-right:10px;			
		}
	}
	.top-link-deal{
		position:relative;
		&:before{
			@include font-awesome(\f02c,100%);
			margin-right:10px;			
		}
	}
	.welcome-msg,
	.account-link,
	.em-top-links > ul li,	
	.em-top-links ul.links li,	
	.em-top-links ul.em-links-wishlist li{	
		padding:$padding2x / 2 - 1px 0 $padding2x / 2;	
		margin-left:$padding3x;
		display:inline-block;
		vertical-align:top;
		@include effect-hover-line-center;
		overflow:initial;
		&:before{
			bottom:auto;
			top:0;
		}
	}
	.toolbar-switch .toolbar-title{ padding:0 !important;}
	.f-left .toolbar-switch{		
		margin:0 $padding3x 0 0;
	}
	.toolbar-switch{		
		margin:0 0 0 $padding3x;		
		@include effect-hover-line-center;
		overflow:initial;
		&:before{
			bottom:auto;
			top:0;
		}
		span.current{
			padding:$padding2x / 2 - 1px 0 $padding2x / 2;			
			min-height:30px;
		}
	}
	.em-language-currency .form-language.toolbar-switch span.current{
		padding-left:25px;
		background-position: 0px center;
	}
	.call-us{
		padding:$padding2x / 2 - 1px 0 $padding2x / 2;	
		display:inline-block;
		vertical-align:top;
		.em-ads-call{
			margin-bottom:0;
		}
	}
	
	.em-search{
		width: 82.7%;
		width: -moz-calc(100% - 155px);
		width: -webkit-calc(100% - 155px);
		width: -o-calc(100% - 155px);
		width: calc(100% - 155px);
	}
	.em_nav{
		.hnav{
			.menu-item-depth-0,
			.menu-item-depth-0 > .em-catalog-navigation > li.level0{
				margin-right:0;
				margin-left:30px;
				> a{
					span{
						padding-left:0;
						padding-right:15px;
					}
					&:hover{ margin-bottom: -35px;
					padding-bottom: 35px;}
				}
			}
			.menu-item-depth-0 > .menu-container{
				top: 81px;
			}
		}
	}
	.menuleft{display: none;}
	.menu-wrapper:hover .menuleft{display:block}
	/*fixed top*/
	.em-fixed-top{
		&.navbar-fixed-top{
			.em-phone{
				display:none;
			}
			.em-search{
				width:auto;
			}
		}
	}
}
.cms-index-index .em-header-style01 .menuleft{display: block}

/*===============RTL=================*/
.em-rtl{
	.em-header-style01{
		.welcome-msg,
		.account-link,
		.em-top-links > ul li,	
		.em-top-links ul.links li,	
		.em-top-links ul.em-links-wishlist li,
		.toolbar-switch{
			margin-left:0;
			margin-right:30px;
		}
		.f-left .toolbar-switch{		
			margin-left:30px;
			margin-right:0px;
		}
		.em-links-wishlist a:before,.link-account:before, .em-logout-link:before,
		.em-register-link:before, .em-account-link:before{ margin-right:0; margin-left:10px;}
		.em-top-cart{ margin-left:0;}
		.form-search .text-search{ float:left}
		.em_nav{
			.hnav .menu-item-depth-0,
			.hnav .menu-item-depth-0 > .em-catalog-navigation > li.level0{
				margin-right:30px;
				margin-left:0px;
				> a{
					span{
						padding-left:15px;
						padding-right:0px;
					}
				}
			}
		}
	}
}