.em-wrapper-features {
  margin-bottom: 50px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #4f6039;
}
.em-color span.emColorStyle02 {
  background: #f1b737;
}
.em-color span.emColorStyle03 {
  background: #29506b;
}
.em-color span.emColorStyle04 {
  background: #6376a1;
}
