/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #2f3d60;
}
.em-color span.emColorStyle02 {
  background: #446aa7;
}
.em-color span.emColorStyle03 {
  background: #f29b97;
}
.em-color span.emColorStyle04 {
  background: #d6669c;
}
