<?xml version="1.0"?>
<config>
  <modules>
    <EM_Ajaxblock>
      <version>0.1.0</version>
    </EM_Ajaxblock>
  </modules>
  <frontend>
    <routers>
      <ajaxblock>
        <use>standard</use>
          <args>
            <module>EM_Ajaxblock</module>
            <frontName>ajaxblock</frontName>
          </args>
      </ajaxblock>
    </routers>
		<layout>
		  <updates>
			<ajaxblock>
			  <file>ajaxblock.xml</file>
			</ajaxblock>
		  </updates>
		</layout>
		<events>
	  <core_block_abstract_to_html_before> <!-- identifier of the event we want to catch -->
        <observers>
          <core_block_abstract_to_html_before_handler> <!-- identifier of the event handler -->
            <type>model</type> <!-- class method call type; valid are model, object and singleton -->
            <class>ajaxblock/observer</class> <!-- observers class alias -->
            <method>htmlBefore</method>  <!-- observer's method to be called -->
            <args></args> <!-- additional arguments passed to observer -->
          </core_block_abstract_to_html_before_handler>
        </observers>
      </core_block_abstract_to_html_before>
    </events>
  </frontend>
  <global>
    <helpers>
      <ajaxblock>
        <class>EM_Ajaxblock_Helper</class>
      </ajaxblock>
    </helpers>
	<blocks>
	  <ajaxblock>
		<class>EM_Ajaxblock_Block</class>
	  </ajaxblock>
	</blocks>
	<models>
	  <ajaxblock>
		<class>EM_Ajaxblock_Model</class>
		<resourceModel>ajaxblock_mysql4</resourceModel>
	  </ajaxblock>
	</models>
    
  </global>
</config> 
