.em-wrapper-ads-13{
	.icon-banner-left {
		padding: 12px 15px 14px;
		margin-right: 20px;
		font-size: 1.6rem;
		@include border-radius(50%);
		@include transition1;
	}
	.em-banner-right {
	  overflow: hidden;
	  p{
		margin:0;
	  }
	  h5{
		margin-bottom:0.5rem;
		font-weight:700;
		text-transform:uppercase;
	  }
	}
	.text-box{
		margin-bottom:$space_small_block;
	}
}
.em-wrapper-ads-13a{
	 padding: 19px 0 18px;
	.em-struck,
	.em-plane {
	    border-right-width: 1px;
		border-right-style: solid;
		border-right-color: #e5e5e5;
	}
	p {
	  text-transform: uppercase;
	  margin-bottom: 0;
		span {
			margin-right: 10px;
			font-size: 16px;
		}
	}
	
}

.em-sidebar{
	.em-wrapper-ads-13{
		.text-box{
			clear:both;
			width:100%;
			border-top-width:1px;
			border-top-style:dashed;
			margin: 2rem 0 0;
			padding: 2rem 0 0;
			&:first-child{
				border-top-width:0px;
				margin-top:0;
				padding-top:0;
			}
		}
	}
}

/*===============RTL=================*/
.em-rtl{
	.em-wrapper-ads-13 .icon-banner-left{ margin-right:0; margin-left:20px;}
	.em-wrapper-ads-13a .em-struck,
	.em-wrapper-ads-13a .em-plane {
		border-right-width: 0px;
		border-left-width: 1px;
		border-left-style: solid;
		border-left-color: #e5e5e5;
	}
}