.em-wrapper-product-25{
	.em-tabs{ vertical-align:top; display:flex}
	.em-box-cate{
		border:1px solid #e1e1e1;
		@include border-radius(3px);
		img{@include border-radius(0);}
		.widget-title h3{ 
			background:#ee576c; 
			color:#ffffff; 
			padding:1.4rem 2rem; 
			text-transform:uppercase; 
			font-size:16px; 
			@include border-radius(3px 3px 0 0);
			margin-bottom:0;
		}
		&.em-box-cate02 .widget-title h3{background:#3face4;}
		&.em-box-cate03 .widget-title h3{background:#35c6b7;}
		&.em-box-cate04 .widget-title h3{background:#eab042;}
		.box-cate-left{
			position:relative;
			text-align:left;
			img{@include border-radius(0);}
			.em-box-list{
				position:absolute; top:20px; right:10px; width:80%; width:calc(100% - 40px);
				.tab-link{
					a{ 
						color:#fff; 
						text-transform:uppercase;
						padding:10px 20px; display:block;
						@include border-radius(3px 0 0 3px);
						@include transition1;
						&:hover{
							font-weight:bold;
							background:#fff;
							color:#434343;
						}
					}
					&.active a{
						font-weight:bold;
						background:#fff;
						color:#434343;
					}
				}
			}
		}
		.widget-products{
			.owl-item{ border-left:1px solid #e1e1e1;
				&:first-child{border-left-color:transparent}
			}
			.products-grid{
				.item:hover a.product-image:after{ left:0; top:0; right:0}
				.item .product-shop{ padding:0;}
				.owl-item{ padding:0}
				.product-item{border-width:0; margin-bottom:0; padding:20px; text-align:left; @include border-radius(0); @include box-shadow(none); min-height:323px;}
				.item.first .product-item{border-bottom-width:1px; }
				&.owl-carousel .owl-item .em-item-slider .products-grid .item{margin-bottom:0;}
			}
		}
		.owl-carousel .owl-buttons div{top:-40px !important}
	}	
}

/*===============RTL=================*/
.em-rtl{
	.em-wrapper-product-25 .em-box-cate .box-cate-left{text-align:right}
	.em-wrapper-product-25 .em-box-cate .box-cate-left .em-box-list{ right:auto; left:10px}
	.em-wrapper-product-25 .em-box-cate .box-cate-left .em-box-list .tab-link a{ @include border-radius(0 3px 3px 0)}
	.em-wrapper-product-25 .em-box-cate .widget-products .owl-item:first-child{ border-left-width:1px;}
}