.em-wrapper-product-04{
	.owl-carousel{
	.owl-nav,.owl-dots{
		text-align:left;
		padding:1rem;
	}
		.owl-buttons div{
			position:static;
			margin-right: 0.5rem!important;
		}
	}
}

/*===============RTL=================*/
.em-rtl{
	
}