.em-wrapper-ads-01{
	.img-banner-small,.img-banner{
		display: block;
		overflow: hidden;
	}
	.banner-img{
		display: block;
		margin-bottom: 15px;
		position: relative;
	}
	.button-link{
		display:inline-block;
		float:none;
	}
}

/*===============RTL=================*/
