.em-wrapper-product-28{
	.item{
		border-style: solid;
		border-width: 1px;
		overflow:hidden;
		.product-shop{padding-top:2rem;padding-right:1rem;}
	}
	.products-list{
		.product-image{margin-bottom:0;}
	}
	.owl-carousel .owl-buttons div{top: -78px!important;}
}

/*===============RTL=================*/
.em-rtl{
	
}