.em-wrapper-ads-video{	
	position:relative;
	overflow:hidden;
	margin-bottom:$space_block;
	video{float:left; width:100%}
	.em-video-des{
		position:absolute;
		top:40%;
		left:40%;
		top: -moz-calc((100% - 150px)/2);
		top: -webkit-calc((100% - 150px)/2);
		top: -o-calc((100% - 150px)/2);
		top: calc((100% - 150px)/2);
	    left: -moz-calc((100% - 150px)/2);
		left: -webkit-calc((100% - 150px)/2);
		left: -o-calc((100% - 150px)/2);
		left: calc((100% - 150px)/2);
		.fa{
			border:2px solid #fff;
			color:#fff;
			font-size:0;
			padding: 4.8rem 5rem;
			margin:0;
			@include border-radius(100%);
			width:150px;
			height:150px;
			text-align:center;
			cursor:pointer;
			@include opacity(0);
			&:before{
				font-size:5rem;
			}
		}
	}
	&:hover .em-video-des .fa{@include opacity(1);}
}


/*===============RTL=================*/
.em-rtl{
	
}