.em-wrapper-product-27{
	.owl-carousel{
		margin:0;
		.owl-item{
			padding:0;
			.em-item-slider{
				margin-right: -1px;
			}
		}
	}
	.product-item{
		@include border-radius(0);
		box-shadow:none!important;
		img{@include border-radius(0);}
	}
	.products-grid.owl-carousel .owl-item .em-item-slider .products-grid .item{
		margin-bottom:-1px;
	}
}

/*===============RTL=================*/
.em-rtl{
	
}