.em-wrapper-ads-12{
	overflow:hidden;
	margin-bottom:$space_block;
	text-align: left;
	&.em-line-01{
		margin-bottom:0;
	}
	img{
		@include border-radius(0);
	}
	.em-blog-content{
		padding-left:0;
	}
	.em-blog-time{		
		@include position_style(absolute, right, 15px, top, 0px);
		display:inline-block;
		padding:15px 24px;
		z-index: 0;
		color:#fff;
		text-transform:uppercase;
		&:before{
			content: "";
			background-color: #000;
			@include opacity(0.6);
			display: inline-block;
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			right: 0;
			z-index: -1;
		}
		p{
			margin:0;
			line-height:1.2;
			font-size:125%;
			text-align: center;
		}
	}
	.em-blog-title{
		margin-top: 2rem;
		text-transform:uppercase;
	}
	.em-blog-des{
		clear:both;
	}
	.link-more{
		font-weight:bold;
		&:before{
			@include font-awesome(\f101,100%);
			padding-right:5px;
		}
	}
}

/*===============RTL=================*/
.em-rtl{
	.em-wrapper-ads-12{
		text-align: right;
		.link-more:before{ padding-right:0; padding-left:5px; content: "\f100";}
		.em-blog-content{ padding-right:0; padding-left:10px;}
	}
}