.em-wrapper-ads-20{
	margin-bottom:$space_block;
	padding-top:3rem;
	ul{
		margin-bottom:3.5rem;
		li{
			margin-bottom:0.8rem;
		}
	}
	.button-link{    
		float: none;
		display: inline-block;
		margin:0;
		padding:9px 20px;
	}
	.em-block-content{
		min-height:160px;
	}
}


/*===============RTL=================*/
.em-rtl{
	
}