.em-slideshow{
	margin-bottom:$space_small_block;	
	.owl-carousel .owl-buttons div{
		top:44%;
	}
	.owl-carousel .owl-item .em-owlcarousel-des{
		left: 15%;
		top: 20%;
		width: 67%;
	}
}

.cms-index-index .em-wrapper-main .container-main{padding-top:0;}


/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#f1bb37;
	}
	&.emColorStyle02{
		background:#6583b8;
	}
	&.emColorStyle03{
		background:#b43027;
	}
	&.emColorStyle04{
		background:#9b97c8;
	}
}