/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#2f3d60;
	}
	&.emColorStyle02{
		background:#446aa7;
	}
	&.emColorStyle03{
		background:#f29b97;
	}
	&.emColorStyle04{
		background:#d6669c;
	}
}