.cms-index-index{
	.em-wrapper-area02{ margin-top:30px;}
}
.em-line-01 .em-block-title, .em-line-01 .em-widget-title, .em-line-01 .block-title, .em-line-01 .widget-title{
	margin-bottom:20px;
}
.em-wrapper-products.em-line-01{
	padding-top:50px;
	.widget-title { margin-bottom:60px;}
	.banner_first{ margin-top:97px;}
	.emfilter-ajaxblock-loaded{ text-align:left;
		.widget-title{	padding:0 25px;}
	}
}
.em-wrapper-ads{ margin-bottom:35px;}
.em-wrapper-ads-17{
	background-image:url(../images/media/home/bkg-parallax.jpg);
	background-attachment: local;
	padding: 8rem 0;
}
.em-wrapper-banners{
	margin-bottom:0;
}
.em-wrapper-footer .em-footer-style01{
	.em-footer-top{
		padding-top:85px;
	}
	.first{
		.em-block-title{ padding-bottom:40px; padding-top:0;}
		.em-block-content{
				i{padding-right:18px;}
		}
	}
	.em-block-title{ padding:32px 0 ;
		.h3 span{ font-size:95%;}
	}
	.em-wrapper-social{ .em-block-title{ padding:15px 0;}}
	
}
.em-wrapper-ads-08 .em-box .link-more:before{ content: "\f0da";}
.em-blog-item{
	.em-blog-des{ padding-top:15px;}
	h4.em-blog-title{ margin-bottom:0;}
}
.productlabels_icons .label{
	&:before{border:0 none;}
	text-transform:capitalize;
	min-width:36px;
	min-height:36px;
	padding:0;
	p{ padding-top:10px; display:block;}
}
div.desc{ margin-bottom:30px;}
.em-wrapper-features{
	.owl-carousel .owl-nav div{	top: -moz-calc((100%)/2);}
	.title-feature{ text-transform:uppercase;}
}

/*Main Color Variation*/
.em-color span{
	&.emColorStyle01{
		background:#cfdc94;
	}
	&.emColorStyle02{
		background:#dcd3ac;
	}
	&.emColorStyle03{
		background:#abba9d;
	}
	&.emColorStyle04{
		background:#a0a2cb;
	}
}

.em-rtl{
	.container .owl-nav div.owl-prev{ left:10px; right:auto;}
	button.button, .button-link, .tp-caption a.ss-btn-link, #em_quickshop_handler, .button-link.link-cart, button.button.btn-cart{ margin-left:0;}
	.quickshop-link-container .quickshop-link{ margin-right:5px;}
	.em-wrapper-footer .em-footer-style01 .first .em-block-content i{ padding-left:18px;}
	.em-wrapper-header .em-fixed-top.navbar-fixed-top .em-search{ left:72px;}
	.em-wrapper-ads-08 .em-box .link-more:before{ content: "\f0d9";}
	.form-search input.input-text{ padding-left:10px; padding-right:50px;}
} 