/* ============================================ *
 * Checkout - Success
 * ============================================ */

.checkout-onepage-success {
	.em-col-main{
		h2.sub-title{
		}
		.em-box{
			padding:27px 20px 19px;
			> p{
				margin-bottom:7px;
			}
		}
		.buttons-set{
			padding-top:8px;
		}
		.print-order{
			text-decoration:none;
		}
	}
}
