/* ============================================ *
 * Contacts
 * ============================================ */

.contacts-index-index {
	#map-canvas{
		margin-bottom:23px;
	}
	.em-wrapper-main{
		address{
			margin-bottom:10px;
		}
		span.fa{
			margin-right: 10px;
		}
	}
}
