/*==============Multidealpro==============*/
.multidealpro_products{
	.products-grid{
		clear:both;
		margin:0 -10px;
		.item{
			width:280px;
			margin:0 10px;
			display:inline-table;
			float:none !important;
			.product-item{
			}
		}
		
	}
}
.em_multidealpro{
	.show_clock,
	.price-box{
		display:inline-block;
		vertical-align: middle;
	}
	.ratings{
		padding-bottom:0;
	}
	
}

.multidealpro_recent .multidealpro_products{
	/*border-style: solid;
	border-width: 1px;
	border-top:0;*/
}
.show_clock{
	.price-box p.special-price .price-label{ 
		display:inline-block; 
	}
	.price-box p:first-child{
		margin-top:0;
	}
}
/*Deal Home Page - Slider Multidealpro*/
.em-special-deals{
	padding-bottom:20px;
	.widget-title h2{ margin-bottom:15px;}
	.products-grid {
		li.item{
			border-style: solid;
			border-width: 1px;
			@include border-radius(5px);
			padding:10px;
			text-align:center;
		}
		.msg_soldout{
			margin-top:10px;
		}
		.clock_style_1{
			margin-top:3px;
			margin-bottom:0;
		}
	}
	.owl-carousel .owl-item .item{
		border-width:1px;
		border-style:solid;
		@include border-radius(5px);
		@include cat-effect01;
		padding:10px;
		text-align:center;
		.product-shop{
			position:static;
		}		
		.show_clock .clock{
			position: absolute;
			margin-bottom:0;
			top:260px;
            left:41px;			
			text-align:center;
		}
		&:hover{
			.product-shop{
				
			}
		}
	}
}

.em-multideal-all{
	.product-left{
		float:left;width:50%;
		text-align:left;
		.product-name{
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
	}
	.product-right{
		float:right;width:50%;
		text-align:right;
	}
	.deal_qty,
	.deal-clock-message,
	.price-box{display:none;}
	.clock_style_1{
		&.show_clock .clock{
			display:inline-block;
			width:auto;
		}
		.clock li{
			float:left;
			span{
				width:auto;
				height:auto;
				min-width:1px;
				padding:0;
				padding-left:20px;
				font-size:11px;
				line-height:1.35;				
				background:none;
				&:before{
					height:auto;
					width:auto;
					border:none;
					background:none
				}
				&.days:before{
					@include font-awesome(\f017,140%);
				}
			}
			p{
				display:inline-block; 
				text-transform:capitalize;
				padding:0;
			}
			.clock_sub{
				p,.seconds{display:none;}
				.hours{padding-left:4px;padding-right:1px;}
				.minutes{
					padding-left:6px;
					&:before{
						content:":";
					}
				}
			}
		}
	}
}


.em-today-deals{
	.price-box{display:none;}
}

.deal-clock-message{margin-bottom:1rem;}

.multidealpro_products{
	/*border-style: solid;
	border-width: 1px;
	padding:10px;
	@include border-radius(5px);*/
}

/*=======Multidealpro - Product Grid======*/
.em_multidealpro{
	.products-grid {
		li.item{
			display:inline-block;
			float:none;
			vertical-align:top;
			@include border-radius(5px);
		}
	}
}

/*=======Multidealpro - Product List======*/
.em_multidealpro,
.multidealpro_products{
	.products-list {
		clear:both;
		margin-top:20px;
		li.item{
			margin-bottom:20px;
			.deal_qty,
			.show_clock{
				text-align:left;
			}
		}
	}
}
/*=======Multidealpro - Sidebar======*/
.em-sidebar {
	.multidealpro_recent .multidealpro_products{ 
		@include border-radius(0 0 5px 5px);
		border:0;
		padding-top:0;
		.products-grid li.item{
			padding:15px;
			margin:0;
			width:100%;
			.product-item{
				border:0;
				@include box-shadow(none);
			}
		}
	}
	.em_multidealpro .products-grid{
		li.item{
			width:100%;
			margin-right:0 !important;
			border:0 !important;
		}
	}
}


.em_multidealpro{
	.products-grid.owl-carousel .owl-item .item{
		min-height:425px;
	}
}

/*================Label Multideal===================*/
.product-image .sale_off{
	background-image:none;
	font-size:14px;
	text-transform:uppercase;
	min-width:70px;
	min-height:79px;
	background-color:#ffa19b;
	font-family: Lato;
	top: 0;
    left: auto;
    right: 10px;
	span{font-size:24px;display:block;font-weight:700;}
	&:after{
		content: "";
		position: absolute;
		bottom: -13px;
		left: 0px;
		border-width: 13px 0 0 70px;
		border-style: solid;
		border-color: #3E3E3E transparent;
		display: block;
		width: 0;
	}
}







