.em-wrapper-ads-13a {
  padding: 0;
}
.em-wrapper-ads-13a .em-box-bkg {
  padding: 1rem 2rem;
  margin-bottom: 30px;
}

/*Main Color Variation*/
.em-color span.emColorStyle01 {
  background: #9b97c8;
}
.em-color span.emColorStyle02 {
  background: #6583b8;
}
.em-color span.emColorStyle03 {
  background: #ffaaa5;
}
.em-color span.emColorStyle04 {
  background: #f1b3c4;
}
